@import url("beem-regular.css");
@import url("beem-bold.css");

html,
body {
    margin: 0;
    padding: 0;
}

body {
    --font-size: calc(max(1.5rem, 2vmin) * 0.88);

    font-family: "Beem", Consolas, monospace;
    font-size: var(--font-size, 18px);
    line-height: 1.5;
    letter-spacing: -0.035em;
    margin: 2vmin 12vmin;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}
p,
ul {
    margin-block-start: 0;
    margin-block-end: 2rem;
}
ul {
    list-style-type: none;
    padding-inline-start: 1.2em;
}

a {
    text-decoration-thickness: 0.035em;
    text-underline-offset: 0.125em;
    text-decoration-color: color-mix(
        in srgb,
        currentColor 25%,
        transparent 75%
    );
}

h1 {
    font-weight: normal;
    font-size: 156%;
    letter-spacing: -0.05em;
    margin-block: 4rem;
    word-spacing: -0.1em;

    i {
        font-style: normal;
    }
    i:nth-child(1) {
        margin-right: 0.035em;
    }
    i:nth-child(2) {
        margin-left: -0.035em;
    }
    i:nth-child(3) {
        margin-left: -0.015em;
        margin-right: 0.035em;
    }
    i:nth-child(4) {
        margin-right: 0.035em;
    }
}
